   # Ignore node_modules
   node_modules/

   # Ignore environment variables
   .env

   # Ignore Hardhat build artifacts
   artifacts/
   cache/

   # Ignore other system files
   .DS_Store
node_modules
